<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159537848845-3c8mpld77gfm7bdgq6juq5lnrgvn891f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159537848845-3c8mpld77gfm7bdgq6juq5lnrgvn891f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159537848845-95mr94q0pavpf4lb3jhkllh8t30gif98.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGM-a6-LkW0RBzJCgdRARPkilTP1-uUlo</string>
	<key>GCM_SENDER_ID</key>
	<string>159537848845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.investor</string>
	<key>PROJECT_ID</key>
	<string>investor-a6f43</string>
	<key>STORAGE_BUCKET</key>
	<string>investor-a6f43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159537848845:ios:47e17a45f3990c70962b44</string>
</dict>
</plist>